@import "_variables.scss";

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: color(red);
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all 0.3s;
  position: relative;
}
.btn-red {
  background-color: color(red);
  color: #fff;
}

.btn-red::after {
  background-color: color(red);
  color: #fff;
}

.btn:hover {
  /* transform: scale(2);
     making it bigger */
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(color(black), 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}

.btn:hover::after {
  /* can't use transform twice so it has to be in one line of code*/
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  transform: scaleX(1.5) scaleY(1.6);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
