@import "_variables.scss";

.panda {
  height: 20rem;
  transition: all 0.3s;
  border-radius: 50%;
}
.panda:hover {
  border-radius: 0;
  filter: grayscale(100%);
  /* filter mdn */
  transform: scale(1.3);
}
